out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
evaluate.py
test_data.json
todo.txt
.neptune/
*.bin
db_dir_UserData
temp_path_do_doc1
offline_folder
flagged_data_points
.pytest_cache
user_path
user_path_test
build
h2ogpt.egg-info
dist
.idea
.cache
.local
.bash_history
.benchmarks
Dockerfile-runner.dockerfile
build_info.txt
prebuilt_deps
Dockerfile_deps

# IDEs
.idea/

# virtual envs
venv

# Mac one click installer
Tesseract-OCR/
poppler/
llamacpp_path/
db_dir_UserData/
db_dir_NewLaws/
db_dir_Infosys/
db_dir_Lodha/
db_dir_research/
infosys_path/
new_laws_path/
lodha_path/
research_path/
sources_dir/
locks/
users/
db_dir_Research_Articles/
Ai_test_data/
db_dir_New_Laws/
Mahindra/
db_dir_Mahindra/
4096
auth.json.bak8b088ae1-0b1f-4d5e-9eb7-43bf932db07f
auth.json.bakb9b9f5f1-d105-42a3-b669-29e37eaa6738
check.py
chromedriver-linux64.zip
chromedriver-linux64/
savehead.lock
savehead/
auth.json.lock
db_dir_infosys/
db_dir_lodha/
db_dir_new_laws/
db_dir_research_articles/
auth.json.old
db_dir_Info_Edge/
log
users/
chats/